<!--1st row-->
<div class="row">
    <!--1st card -->
    <div class="col-md-4">
        <nb-card size="large" tabTitle="Temperature">
            <nb-card-header class="text-center">Games<div class="details text-center">Percent of Edgagement</div></nb-card-header>
              <div class="slider-container">
                 <!-- <div id="gauge3" class="gauge-container three">
                      <span class="label"></span>
                  </div>-->
              </div>
              <nb-card-footer class="blue-bg">
                <div class="left">
                  <div class="head">
                    Users
                  </div>
                  <div class="info">
                    7/389
                  </div>
                </div>
                <div class="right">
                    <div class="head">
                      Games
                    </div>
                    <div class="info">
                      8
                    </div>
                  </div>       
              </nb-card-footer>
        </nb-card>
    </div>
  <!--2nd card -->
    <div class="col-md-4">
        <nb-card size="large" tabTitle="Temperature">
            <nb-card-header class="text-center">Surveys<div class="details text-center">Percent of Edgagement</div></nb-card-header>
              <div class="slider-container">
                
              </div>
              <nb-card-footer class="yale-bg">
                <div class="left">
                  <div class="head">
                    Users
                  </div>
                  <div class="info">
                    7/443
                  </div>
                </div>
                <div class="right">
                    <div class="head">
                      Surveys
                    </div>
                    <div class="info">
                      8
                    </div>
                  </div>
        
              </nb-card-footer>
        </nb-card>
    </div>
  <!--3rd card -->
    <div class="col-md-4">
        <nb-card size="large" tabTitle="Temperature">
            <nb-card-header class="text-center">Pages<div class="details text-center">Percent of Click</div></nb-card-header>
              <div class="slider-container">
                
              </div>
              <nb-card-footer class="purple-bg">
                <div class="left">
                  <div class="head">
                    Clicks
                  </div>
                  <div class="info">
                    677
                  </div>
                </div>
                <div class="right">
                    <div class="head">
                      Pages
                    </div>
                    <div class="info">
                      15
                    </div>
                  </div>
        
              </nb-card-footer>
        </nb-card>
    </div>
  </div>