<!--1st row-->
<div class="row">
    <!--1st card -->
    <div class="col-md-6">
        <nb-card size="large" tabTitle="Temperature">
            <nb-card-header>User Funnel</nb-card-header>
              <div class="slider-container">
                
              </div>
        
        </nb-card>
    </div>
  <!--2nd card -->
    <div class="col-md-6">
        <nb-card size="large" tabTitle="Temperature">
            <nb-card-header>Audience</nb-card-header>
              <div class="slider-container">
                  
              </div>
        </nb-card>
    </div>
  </div>
  <!--3rd card -->
  <div class="row">
    <div class="col-md-6">
        <nb-card size="large" tabTitle="Temperature">
            <nb-card-header>Pre / Post Learning Objectives</nb-card-header>
              <div class="slider-container">
                
              </div>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card size="large" tabTitle="Temperature">
            <nb-card-header>Retake Quiz / Test</nb-card-header>
              <div class="slider-container">
                
              </div>
        </nb-card>
    </div>
  </div>