<!--1st row-->
<div class="row">
    <!--1st card -->
    <div class="col-md-6">
        <nb-card size="large" tabTitle="Temperature">
            <nb-card-header class="text-center">Participation</nb-card-header>
            <ngx-funnel></ngx-funnel>
        
        </nb-card>
    </div>
  <!--2nd card -->
    <div class="col-md-6">
        <nb-card size="large" tabTitle="Temperature">
            <nb-card-header class="text-center">Learner Demograhphic
              
                <!--<nb-select placeholder="All Title" [(selected)]="commonSelectedItem" class="top-button flush-right">
                    <nb-option *ngFor="let title of titleList | keyvalue" value="{{title.key}}">{{title.value}}</nb-option>
                </nb-select>-->
             
            </nb-card-header>
            <nb-card-body>
                <div class="pie-chart">
                  <ngx-demographic></ngx-demographic>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
  </div>
  <!--3rd card -->
  <div class="row">
    <div class="col-md-12">
        <nb-card size="medium" tabTitle="Temperature">
            <nb-card-header class="text-center">Pre / Post Learning Objectives</nb-card-header>
            <nb-card-body>
                <ngx-prepost></ngx-prepost>
            </nb-card-body>
        </nb-card>
    </div>
  </div>
    <div class="row">
    <div class="col-md-12">
        <nb-card size="medium" tabTitle="Temperature">
            <nb-card-header class="text-center">Retake Quiz / Test</nb-card-header>
              <nb-card-body>
                <ngx-retake></ngx-retake>
              </nb-card-body>  
        </nb-card>
    </div>
</div>
