.dropdown_graph {
    width: 100%;
    padding: 20px;
}
.nb-theme-corporate nb-card.medium-card {
    height: auto !important;
}
.input-group-prepend, .nb-theme-corporate .dropdown .dropdown-menu, .nb-theme-corporate .dropup .dropdown-menu {
    min-width:200px;
}