<nb-card>
  <nb-card-header>
    <div class="input-group">
        <div class="col-6 col-sm-4">Users</div>
        <div class="col-6 col-sm-4">
            <input nbInput placeholder="Select Date" [nbDatepicker]="formpicker" class="date-picker">
            <nb-rangepicker #formpicker></nb-rangepicker>
        </div>
        <div class="col-6 col-sm-4">
          <nb-select placeholder="All Group" [(selected)]="commonSelectedItem">
            <nb-option value="1">Group2</nb-option>
            <nb-option value="2">Boscov's</nb-option>
            <nb-option value="3">L&T Corporate</nb-option>
            <nb-option value="4">Global Corporate</nb-option>
          </nb-select>
        </div>
    </div>       
    </nb-card-header>  
    <nb-card-body>
        <div class="input-group">
          <!--Add new user-->  
          <button class="btn btn-danger input-group-text" (click)="openWindow(newUser)" nbButton>Add new user</button>&nbsp;&nbsp;
          <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-append">
                      <button class="btn btn-danger input-group-text">
                        Search
                      </button>
                </span>
        </div>
        <br/> 
        <div class="contact" *ngFor="let c of contacts">
            <nb-user [name]="c.user.name" [title]="c.type" size="large"></nb-user>
            <nb-actions size="small">
              <nb-action (click)="openWindow(viewUserTemplate)" icon="fa fa-address-card"></nb-action>
              <nb-action (click)="openWindow(sendMsgTemplate)"icon="fa fa fa-paper-plane"></nb-action>
              <nb-action (click)="openWindow(editUserTemplate)" icon="fa fa-pencil-alt"></nb-action>
            </nb-actions>
        </div>  
        <br/>   
        <div class="flush-right"><button type="submit" class="btn btn-primary">Send Message</button>&nbsp;&nbsp;<button type="submit" class="btn btn-primary">Export CSV</button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">Export Users</button>&nbsp;&nbsp;<button type="submit" class="btn btn-primary">Import Users</button></div>
    </nb-card-body>
</nb-card>
<!--Add user-->
<ng-template #newUser let-data class="col-md-6">
    <input type="text" nbInput fullWidth placeholder="Name:" class="child"><br/>
    <input type="text" nbInput fullWidth placeholder="Phone:" class="child"><br/>
    <input type="text" nbInput fullWidth placeholder="Email:" class="child"><br/>
    <input type="password" nbInput fullWidth placeholder="Password:" class="child"><br/>
    <p>Delivery Method:</p><nb-select placeholder="None" [(selected)]="commonSelectedItem">
                      <nb-option value="1">Email</nb-option>
                      <nb-option value="2">Phone</nb-option>
                      <nb-option value="3">Both</nb-option>
                    </nb-select>
    <p class="child">User Type:</p>
    <p class="child">Status:</p>
    <p class="child">Detail:</p>
    <button type="submit" class="btn btn-primary child center">SUBMIT</button>
</ng-template>

<ng-template #disabledEsc>
  Disabled close on escape click.
</ng-template>
<!-- View user -->
<ng-template #viewUserTemplate let-data class="col-md-6">
    <input type="text" nbInput fullWidth placeholder="Name:" class="child"><br/>
    <input type="text" nbInput fullWidth placeholder="Phone:" class="child"><br/>
    <input type="text" nbInput fullWidth placeholder="Email:" class="child"><br/>
    <input type="password" nbInput fullWidth placeholder="Password:" class="child"><br/>
    <p>Delivery Method:</p><nb-select placeholder="None" [(selected)]="commonSelectedItem">
                      <nb-option value="1">Email</nb-option>
                      <nb-option value="2">Phone</nb-option>
                      <nb-option value="3">Both</nb-option>
                    </nb-select>
    <p class="child">User Type:</p>
    <p class="child">Status:</p>
    <p class="child">Detail:</p>
    <button type="submit" class="btn btn-primary child center">SUBMIT</button>
</ng-template>
<!--Edit Uset-->
<!-- Send Msg -->
<ng-template #sendMsgTemplate let-data class="col-md-6">
    <input type="text" nbInput fullWidth placeholder="Name:" class="child"><br/>
    <input type="text" nbInput fullWidth placeholder="Phone:" class="child"><br/>
    <input type="text" nbInput fullWidth placeholder="Email:" class="child"><br/>
    <input type="password" nbInput fullWidth placeholder="Password:" class="child"><br/>
    <p>Delivery Method:</p><nb-select placeholder="None" [(selected)]="commonSelectedItem">
                      <nb-option value="1">Email</nb-option>
                      <nb-option value="2">Phone</nb-option>
                      <nb-option value="3">Both</nb-option>
                    </nb-select>
    <p class="child">User Type:</p>
    <p class="child">Status:</p>
    <p class="child">Detail:</p>
    <button type="submit" class="btn btn-primary child center">SUBMIT</button>
</ng-template>
<!--Edit Uset-->
<ng-template #editUserTemplate let-data class="col-md-6">
    <input type="text" nbInput fullWidth placeholder="Name:" class="child"><br/>
    <input type="text" nbInput fullWidth placeholder="Phone:" class="child"><br/>
    <input type="text" nbInput fullWidth placeholder="Email:" class="child"><br/>
    <input type="password" nbInput fullWidth placeholder="New Password:" class="child"><br/>
    <p>Delivery Method:</p><nb-select placeholder="None" [(selected)]="commonSelectedItem">
                            <nb-option value="1">Email</nb-option>
                            <nb-option value="2">Phone</nb-option>
                            <nb-option value="3">Both</nb-option>
                            </nb-select>
    <p class="child">User Type:</p><nb-select placeholder="None" [(selected)]="commonSelectedItem">
                                      <nb-option value="1">Guest</nb-option>
                                      <nb-option value="2">Web session</nb-option>
                                      <nb-option value="3">Beauty Advisor</nb-option>
                                      <nb-option value="4">Account Executive</nb-option>
                                      <nb-option value="5">FSD Access</nb-option>
                                      <nb-option value="6">Admin</nb-option>
                                    </nb-select>
    <p class="child">Status:</p><nb-select placeholder="None" [(selected)]="commonSelectedItem">
                                  <nb-option value="1">Active</nb-option>
                                  <nb-option value="2">Terminate</nb-option>
                                </nb-select>
    <button type="submit" class="btn btn-primary child center">SUBMIT</button>
</ng-template>
