
    <nb-card class="container-wrapper">
        <nb-card-header class="card-headline">
            <div class="title_wrapper">
                <div class="main_title">
                  <h2>Games</h2>
                </div>
          </div> 
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-md-4">
                <h5>Test Knowledge/Quiz Me</h5>
                <nb-card class="row-2">
                    <div class="draggable-container example-custom-placeholder no-pad">
                        <div
                          cdkDropList
                          #todoList="cdkDropList"
                          [cdkDropListData]="quiz"
                          [cdkDropListConnectedTo]="[doneList]"
                          class="example-list col-md-12"
                          (cdkDropListDropped)="drop($event)"
                          (cdkDropListMousedown)="clicked($event)">
                          <div class="example-box" *ngFor="let item of quiz" (click)="showDetail(item.title)"cdkDrag>{{item.title}}<i class="fas fa-ellipsis-v"></i></div>
                        </div>
                    </div>
                </nb-card>
                <h5>Other</h5>
                <nb-card class="row-2">
                    <div class="draggable-container example-custom-placeholder">
                        <div
                          cdkDropList
                          #doneList="cdkDropList"
                          [cdkDropListData]="other"
                          [cdkDropListConnectedTo]="[todoList]"
                          class="example-list col-md-12"
                          (cdkDropListDropped)="drop($event)" 
                          >
                          <div class="example-box" *ngFor="let item of other" (click)="showDetail(item.title)"cdkDrag>{{item.title}}<i class="fas fa-ellipsis-v"></i></div>
                        </div>
                      </div>
                </nb-card>
            </div>
            <div class="col-md-8">
                <h5>Game Category Detail</h5>
                <nb-card > 
                  <nb-card-header><h4>Title: {{game_title}}</h4><br/>
                    <textarea nbInput fullWidth placeholder="Textarea">{{game_desc}}</textarea><br/>
                    <button nbButton [status]="primary" hero>
                       SAVE SETTING
                    </button>
                    <hr>
                    <h4>Games</h4>
                      <div class="flush-right" style="display:none;">
                        <button nbButton [status]="primary" hero>
                          Import Game
                        </button>
                        <button nbButton [status]="primary" hero>
                          Add Game
                          </button>
                      </div>
                  </nb-card-header>
                  <nb-card-body>
                    <div class="row" style="margin:0px;">
                    <div cdkDropList class="example-list col-md-9" (cdkDropListDropped)="sort($event)">
                      <div class="example-box" *ngFor="let game of sub_game" cdkDrag>{{game}}<i class="fas fa-braille"></i></div>
                    </div>
                    <div class="col-md-3" style="text-align:right;">
                      <nb-actions *ngFor="let game of sub_game" class="flush-right" size="small">
                        <nb-action icon="fa fa-trash"></nb-action>
                        <nb-action icon="fa fa-upload"></nb-action>
                        <nb-action icon="fa fa-pencil-alt"></nb-action>
                        </nb-actions>
                    </div>
                    </div>
                  </nb-card-body>
                </nb-card>
            </div>
          </div>
        </nb-card-body>
        <!--<nb-card-body>
          <div class="col-md-4 draggable-container example-custom-placeholder no-pad">
              <h2>Test Knowledge/Quiz Me</h2>
              <div
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="quiz"
                [cdkDropListConnectedTo]="[doneList]"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of quiz" cdkDrag>{{item.title}}</div>
              </div>
            </div>

            <div class="col-md-4 draggable-container example-custom-placeholder">
              <h2>Other</h2>
            
              <div
                cdkDropList
                #doneList="cdkDropList"
                [cdkDropListData]="other"
                [cdkDropListConnectedTo]="[todoList]"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of other" cdkDrag>{{item.title}}</div>
              </div>
            </div>
      </nb-card-body>-->
    </nb-card>
      
      