<div class="title_wrapper">
  <div class="main_title">
    <h2>Edit Question</h2><br/>
    <nb-stepper #stepper>
        <nb-step label="Intro">
          <ngx-admin-game-demos></ngx-admin-game-demos>
          <button nbButton nbStepperNext>next</button>
        </nb-step>
        <nb-step [stepControl]="secondForm" label="Question">
            <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container">
                <div class="row">  
                  <div class="col-md-6">
                  <fieldset>
                  <h5>Question</h5>
                  <div class="browse">
                  <textarea nbInput placeholder="Entet your question" class="form-control" formControlName="secondCtrl"
                           [ngClass]="{'form-control-danger': secondForm.invalid && (secondForm.dirty || secondForm.touched)}"></textarea>
                  </div>
                  </fieldset>
                  <fieldset>
                  <h5>Result Text</h5>
                  <div class="browse">
                    <input type="text" nbInput fullWidth status="primary" placeholder="Primary">
                  </div> 
                  </fieldset>
                  <fieldset>
                      <h5>Correct Answer</h5>
                      <div class="browse">
                          <input type="text" nbInput fullWidth status="primary" placeholder="Primary">
                      </div>
                  </fieldset>
                    <fieldset>
                        <h5>Tip Text</h5>
                        <div class="browse">
                            <input type="text" nbInput fullWidth status="primary" placeholder="Primary">
                        </div>
                    </fieldset>
                  </div>
                  
                  <div class="col-md-6">
                    <table width="100%">
                        <tr>
                          <th>Correct</th>
                          <th (click)="addAns()">Add answer</th>
                        </tr>
                    </table>
                      <div *ngFor="let ans of ans">
                        <mat-checkbox></mat-checkbox> 
                        <input nbInput type="text" placeholder="Enter Answer" value="{{ans.name}}">
                      </div>
                  </div>
                </div>
              <button nbButton nbStepperPrevious>prev</button>
              <button nbButton nbStepperNext>next</button>
            </form>
          </nb-step>
        <nb-step [stepControl]="thirdForm" label="Design">
          <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container">
              <div class="row">  
                  <div class="col-md-6">
              <fieldset>
              <label>Game Part</label>
              <nb-select placeholder="Select Game Part" [(selected)]="selectedItem">
                  <nb-option value="0">Option 0</nb-option>
                  <nb-option value="1">Option 1</nb-option>
              </nb-select>
            </fieldset>
            <fieldset>
                <label>Force Show</label>
                <nb-select placeholder="Select Force Show" [(selected)]="selectedItem">
                    <nb-option value="0">Yes</nb-option>
                    <nb-option value="1">No</nb-option>
                </nb-select>
            </fieldset>
            <fieldset>
                <label>Result Style</label>
                <input nbInput type="text" placeholder="Style Prefix">
            </fieldset>
            <fieldset>
                <label>Font Color</label>
                <input class="colorPicker" [style.background]="fontColor" [(colorPicker)]="fontColor" 
                [cpOKButtonClass]= "'btn btn-primary btn-xs'"/>
            </fieldset>
            <fieldset>
                <label>Result Color</label>
                <input class="colorPicker" [style.background]="resultColor" [(colorPicker)]="resultColor" 
                [cpOKButtonClass]= "'btn btn-primary btn-xs'"/>
            </fieldset>
            <fieldset>
                <label>Process Color</label>
                <input class="colorPicker" [style.background]="processColor" [(colorPicker)]="processColor" 
                [cpOKButtonClass]= "'btn btn-primary btn-xs'"/>
            </fieldset>
            <fieldset>
                <label>Font Family</label>
                <nb-select placeholder="Select Font Family" [(selected)]="selectedItem">
                    <nb-option *ngFor="let font of fonts" value="{{font.id}}">{{font.name}}</nb-option>
                </nb-select>
            </fieldset>
            <fieldset>
                <label>Background Type</label>
                <nb-select placeholder="Select Font Family" [(selected)]="selectedItem">
                    <nb-option *ngFor="let bg of bgType" value="{{bg.id}}">{{bg.name}}</nb-option>
                </nb-select>
            </fieldset> 
            <fieldset>
                <label>Image Url</label>
                <input nbInput type="text" value="">
            </fieldset>
            <fieldset>
                <label>Image Url(image)</label>
                <input nbInput type="text" value="">
            </fieldset>
            <fieldset>
                <label>Background Size</label>
                <nb-select placeholder="Select Background Size" [(selected)]="selectedItem">
                    <nb-option *ngFor="let bg of bgSize" value="{{bg.id}}">{{bg.name}}</nb-option>
                </nb-select>
            </fieldset> 
            <fieldset>
                <label>Background Position</label>
                <nb-select placeholder="Select Background Position" [(selected)]="selectedItem">
                    <nb-option *ngFor="let bg of bgPosition" value="{{bg.id}}">{{bg.name}}</nb-option>
                </nb-select>
            </fieldset> 
            <fieldset>
                <label>Point Value</label>
                <input nbInput type="text" value="10">
            </fieldset> 
            </div>
            <div class="col-md-6">
              <h5>Special Design</h5>
              <fieldset>
                  <label>Submit Button Color</label>
                  <input class="colorPicker" [style.background]="submitBtnColor" [(colorPicker)]="submitBtnColor" 
                  [cpOKButtonClass]= "'btn btn-primary btn-xs'"/>
              </fieldset>
              <fieldset>
                  <label>Submit Button Style</label>
                  <nb-select placeholder="Select Background Size" [(selected)]="selectedItem">
                      <nb-option *ngFor="let bg of bgSize" value="{{bg.id}}">{{bg.name}}</nb-option>
                  </nb-select>
              </fieldset> 
              <fieldset>
                  <label>Arrow Style</label>
                  <nb-select placeholder="Select Background Size" [(selected)]="selectedItem">
                      <nb-option *ngFor="let bg of bgSize" value="{{bg.id}}">{{bg.name}}</nb-option>
                  </nb-select>
              </fieldset> 
              <fieldset>
                  <label>Arrow Middle</label>
                  <nb-select placeholder="Select Background Size" [(selected)]="selectedItem">
                      <nb-option *ngFor="let bg of bgSize" value="{{bg.id}}">{{bg.name}}</nb-option>
                  </nb-select>
              </fieldset> 
              <fieldset>
                  <label>Arrow Color</label>
                  <input class="colorPicker" [style.background]="arrowColor" [(colorPicker)]="arrowColor" 
                  [cpOKButtonClass]= "'btn btn-primary btn-xs'"/>
              </fieldset>
            </div>
            </div>
            
            <button nbButton nbStepperPrevious>prev</button>
            <button nbButton nbStepperNext>Confirm</button>
          </form>
        </nb-step>
        <nb-step [stepControl]="thirdForm" [hidden]="true" label="Question">
          <div class="step-container">
            <h3>Wizard completed!</h3>
            <button nbButton (click)="stepper.reset()">Try again</button>
          </div>
        </nb-step>
      </nb-stepper>
  </div>
</div> 