fieldset {
    padding:0px;
}
nb-card.medium-card {
    height:150px;
    margin: 10px;
    min-width: 10rem;
}
nb-card-header.medium-card {
    height:5px;
}
nb-card.medium-card span {
    font-size: 14px;
}
nb-card-body.medium-card img {
    display: none;
}
.header {
    margin-bottom:0px;
}
table, th, td {
    border-collapse: collapse;
}
table{
    width:100%;
    table-layout: fixed;
    overflow-wrap: break-word;
}
input.input-md.input-rectangle, textarea.form-control.input-md.input-rectangle {
    width: 90%;
    margin: 10px;
}
button {
    margin: 5px;
}
label {
    display:inline-block;
    font-size:15px;
}
input.colorPicker {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 15px;
    border: none;
}