<div class="title_wrapper">
  <div class="main_title">
    <h2>Edit Question</h2><br/>
    <nb-stepper #stepper>
        <nb-step label="Intro">
          <ngx-admin-game-demos></ngx-admin-game-demos>
          <button nbButton nbStepperNext>next</button>
        </nb-step>
        <nb-step [stepControl]="secondForm" label="Second step">
            <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container">
                  <h5>Question</h5>
                  <div class="input-group">
                    <textarea nbInput placeholder="Entet your question" class="form-control" formControlName="secondCtrl"
                           [ngClass]="{'form-control-danger': secondForm.invalid && (secondForm.dirty || secondForm.touched)}"></textarea>
                  </div>
                  <fieldset>
                  <h5>Result Text</h5><div class="browse">
                                                <input type="text" nbInput fullWidth status="primary" placeholder="Primary">
                                              </div> 
                  </fieldset>
                  <fieldset>
                      <h5>Correct Answer</h5>
                      <div class="browse">
                          <input type="text" nbInput fullWidth status="primary" placeholder="Primary">
                      </div>
                  </fieldset>
                    <fieldset>
                        <label>Tip Text</label>
                        <div class="browse">
                            <input type="text" nbInput fullWidth status="primary" placeholder="Primary">
                        </div>
                    </fieldset>
                    <hr/>
                    <table>
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                    </table>
              <button nbButton nbStepperPrevious>prev</button>
              <button nbButton nbStepperNext>next</button>
            </form>
          </nb-step>
        <nb-step [stepControl]="thirdForm" label="Question">
          <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container">
            <p class="lorem">
              Things boom shackalack rhoncus yo. In fo shizzle my nizzle gangsta platea dictumst. Check it out pot.
            </p>
            <div class="input-group">
              <input nbInput type="text" placeholder="Enter something" class="form-control" formControlName="thirdCtrl"
                     [ngClass]="{'form-control-danger': thirdForm.invalid && (thirdForm.dirty || thirdForm.touched)}">
            </div>
            <button nbButton nbStepperPrevious>prev</button>
            <button nbButton nbStepperNext>Confirm</button>
          </form>
        </nb-step>
        <nb-step [stepControl]="thirdForm" [hidden]="true" label="Question">
          <div class="step-container">
            <h3>Wizard completed!</h3>
            <button nbButton (click)="stepper.reset()">Try again</button>
          </div>
        </nb-step>
      </nb-stepper>
  </div>
</div> 