

.reports{
    nb-card-footer{
        color: #fff;
    }
    .left {
        float: left;
        width: 45%;
    }
    .right {
        float: right;
        text-align: right;
    }
}

.row{
    margin-bottom: 4rem;
}