<nb-card class="container-wrapper">
    <nb-card-header class="card-headline">
        <div class="title_wrapper">
            <div class="main_title">
              <h2>User Detail</h2>
            </div>
      </div>
    </nb-card-header>  
    <nb-card-body>
        <!--Add new user with button--> 
        <nb-card class="container-card">
            <div *ngIf="employee">
                <div>
                    <label>Name: </label> {{user.name}}
                </div>
                <div>
                    <label>Age: </label> {{user.name}}
                </div>
                <div>
                    <label>Active: </label> {{user.name}}
                </div>
                <div>
                    <label>Active: </label> {{user.name}}
                </div>
            
                <hr/>
            </div>
      </nb-card>
      </nb-card-body>
</nb-card>