<nb-card [size]="breakpoint.width >= breakpoints.xxxl || breakpoint.width < breakpoints.md ? 'large' : 'xlarge'">
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Contacts">
      <div class="contact" *ngFor="let c of contacts">
        <nb-user [name]="c.user.name" [title]="c.type" size="large"></nb-user>
        <nb-actions size="small">
          <nb-action icon="fa fa-address-card"></nb-action>
          <nb-action icon="fa fa fa-paper-plane"></nb-action>
          <nb-action icon="fa fa-pencil-alt"></nb-action>
        </nb-actions>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Last Login">
      <div class="contact" *ngFor="let c of recent">
        <nb-user [name]="c.user.name" [title]="c.type" size="large"></nb-user>
        <span class="time">{{ c.time | date: 'shortTime' }}</span>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>
