// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();
};
//Custom change
//Header
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important; 
}
.layout nb-layout-header nav {
  background: #fdfdfd !important;
  color:#181818;
}
.header-container {
  color:#181818;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.user-container{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important; 
}
nb-action {
  border-left:1px solid #faf4f5 !important;
}
.nb-menu::before, nb-action i.control-icon, .nb-notifications::before, .nb-search::before {
  color: #BBBCCB;
  font-weight: 800;
}
.user-name {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #2a2a2a;
}
.nb-theme-corporate nb-menu, .nb-theme-corporate nb-menu .menu-item a.active {
  font-weight: 400;
  background: #fdfdfd;
  color: #4b4b4b;
}
.menu-item a.active {
  border-right: solid 3px #849EFE;
}
.menu-item a.hover {
  font-weight: 400;
  background: #8989EB;
  color: #4b4b4b;
}
.nb-theme-corporate nb-menu .menu-items > .menu-item {
  border:none;
}
.content nb-layout-footer nav {
  background: #fdfdfd;
  color: #181818;
  border-top: none !important; 
  box-shadow: 0 2px 12px 0 #dfe3eb;
}
.content {
  background: #EAEDF8;
}
//nb card
nb-card.container-wrapper {
  background: transparent;
  border: none;
  max-width: 1200px;
  margin: auto;
  min-height:70vh;
}
nb-card.large-card, nb-card.inner-card,nb-card.medium-card {
  border: none;
  border-radius: 0.5rem !important;
  background:#F9FAFE !important;
  box-shadow: 0 2px 12px 0 #dfe3eb;
 // display:inline-block;
}
nb-card.container-card {
  border: none !important;
  border-radius: 0.5rem !important;
  background:#F9FAFE !important;
  box-shadow: 0 2px 12px 0 #dfe3eb;
  padding:3rem;
}
nb-card-header {
  font-size: 1.5rem;
  font-weight: 350 !important;
}
nb-card-footer {
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  border:none !important;
}
.card-headline{
  padding: 1.25rem 0px !important;
  border-bottom-width: 0;
  border-bottom-style: solid;
  border-bottom-color: #cdd5dc;
  border-top-left-radius: 0.17rem;
  border-top-right-radius: 0.17rem;
  color: #181818;
  font-family: Roboto;
  font-size: 1.9rem;
  font-weight: 350;
  width:100%;
}
.head {
  font-family: Roboto !important;
}
.info {
  padding:0px !important;
  font-family: Roboto !important;
  color: #ffffff;
}
.user-picture {
  border: solid 2px #73a1ff;
}
.purple-bg{
  background: #8C8FC6;
}
.blue-bg{
  background: #849EFE;
}
.yale-bg{
  background: #4C4CA3;
}
.peach-bg{
  background: #E89897;
}
.pink-bg {
  background:#D1C4f7;
}
//placeholder
.card-placeholder {
  background: #E2E7F5;
  border: dotted #849efe;
  border-radius: 7px;
}
//icon
.nb-home::before, .nb-layout-sidebar-left, .nb-person,.nb-grid-a-outline::before, .nb-keypad::before, .nb-compose::before,.nb-menu::before{
  color: #849efe !important;
  font-weight: 400;
}
.nb-trash::before, .fa-trash:before {
  color:#E89897;
  font-weight: 600;
}
.nb-edit::before, .fa-pencil-alt:before, .fa-paper-plane:before, .fa-address-card:before {
  color:#849EFE;
  font-weight: 600;
}
//extra element 
.no-pad {
  padding:0 0 !important;
}
a {
  color:#849EFE;
}
a.ng2-smart-action.ng2-smart-action-add-add.ng-star-inserted, .btn {
  background: #849EFE !important;
}

.progress-btn {
  background: #E89897;
  padding: 5px;
  color: #ffffff;
  border-radius: 8px;
  font-size: 8px;
}

//Form
form {
  font-family: Roboto;
  font-size: 18px;
}
//Main Title
.title_wrapper {
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
	min-height: 1px;
	overflow: hidden;
}

.title_wrapper h2 {
	padding: 0px 0px 12px 0px;
	background: none;
	border-bottom: 4px solid #859efe;
	display: table-cell;
}
.main_title {
	margin: 0px 0px 20px 0px;
}
.main_title:after {
    /*content: "";*/
    display: table-cell;
    width: 100%;
}

//Table 
ng2-smart-table {
  border-radius:6px 6px 0px 0px;
  padding: 1.25px;
}
.nb-theme-corporate ng2-smart-table table tr th, .nb-theme-corporate ng2-smart-table table tr td {
  border: none !important;
}
ng2-smart-table table th:fitst-child{
  border-radius:6px 6px 0px 0px;
}
.ng2-smart-actions-title-add a{
  background: #5d81f4;
}
ul.pagination a {
  color: #849EFE;
}
.btn.btn-primary {
  background-color: #849EFE;
}
//Drag and drop
.example-box {
  padding: 20px 10px;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 18px;
  margin-bottom: 15px;
  border-left: solid 3px #849EFE;
  height: 80px;
  border-radius: 4px;
}
//Popup window
.body-template {
  border-radius: 5px;
}
nb-window > nb-card {
  border-radius: 10px !important;
  background: white !important;
  border: none !important;
  width: 40vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  min-width: 350px;
}
img.img-detail {
  border-radius: 50%;
  width: 40%;
  display: block;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: auto;
}
input.child.input-full-width.input-md.input-rectangle {
  border: 0.5px solid #dadfe6;
}
.name-detail {
  font-size: 30px;
  display: inline-block;
  float: right;
  bottom: 30;
  margin-top: 30%;
}
//Charts
.pie-chart {
  display:block;
  margin:5px auto;
}
chart {
  padding: 20px;
}
