<nb-card>
    <nb-card-header>
      Pages
    </nb-card-header>  
    <nb-card-body>
        <!--Add new user with button--> 
        <div class="flush-right" class="input-group">
          <button class="btn btn-danger input-group-text" (click)="openWindow(contentTemplate)" nbButton>Add Page</button>&nbsp;&nbsp;
        </div>
        <br/>
        <div class="contact" *ngFor="let c of pages">
            <!-- <nb-user [name]="g.name"></nb-user>-->
            <nb-user [name]="c.name" size="large"></nb-user>
            <nb-actions size="small">
              <nb-action icon="fa fa-address-card"></nb-action>
              <nb-action icon="fa fa fa-paper-plane"></nb-action>
              <nb-action icon="fa fa-pencil-alt"></nb-action>
            </nb-actions>
        </div>  
        <br/>   
        <div class="flush-right"><button type="submit" class="btn btn-primary">Send Message</button>&nbsp;&nbsp;<button type="submit" class="btn btn-primary">Export CSV</button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">Export Users</button>&nbsp;&nbsp;<button type="submit" class="btn btn-primary">Import Users</button></div>
    </nb-card-body>
</nb-card>
<!--Modal Add Page-->
<ng-template #contentTemplate let-data class="col-md-6">
    <input type="text" nbInput fullWidth placeholder="Title:" class="child"><br/>
    <input type="text" nbInput fullWidth placeholder="Path:" class="child"><br/>
    <p>Permission:</p><nb-select placeholder="None" [(selected)]="commonSelectedItem" class="child">
                      <nb-option value="1">Guest</nb-option>
                      <nb-option value="2">Websession</nb-option>
                      <nb-option value="3">Beauty Advisor</nb-option>
                      <nb-option value="4">Account Executive</nb-option>
                      <nb-option value="5">FSD Access</nb-option>
                      <nb-option value="6">Admin</nb-option> 
                      <nb-option value="7">Hide</nb-option>
                      <nb-option value="8">Group</nb-option>
                    </nb-select>
     <h3 class="text-primary font-main" class="child">Warning: Can not change filter after created.</h3>
    <button type="submit" class="btn btn-primary child">SAVE</button>
</ng-template>

<ng-template #disabledEsc>
  Disabled close on escape click.
</ng-template>
