@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
//@import '../../app/pages/forms/buttons/button-elements/button-elements.component.scss';
@import '../dashboard/contacts/contacts.component';
//@import '../admin-users/admin-users.component.scss';

.child {
    margin: 10px auto;
}
:host nb-tab {
    padding: 1.25rem;
}
.user-name {
    font-size:1rem;
}
//mobile view
@media only screen and (max-width:700px) {
    .user-picture.background {
        display: none !important;
    }
}