<nb-card>
    <nb-card-header>
      Reviews
    </nb-card-header>  
      <nb-card-body>
        <!--Add new user with button--> 
        
        <div class="contact" *ngFor="let c of reviews">
            <div class="col-md-4"> 
              <nb-user [name]="c.name" size="large"></nb-user>
            </div>
            <div class="col-md-4"> 
              <div class="details">
                <div class="parameter">
                    <span>{{c.status}}</span>
                </div>
                <div class="parameter">
                    <span>{{c.view}}</span>
                </div>
                <div class="parameter">
                    <span>{{c.approve}}</span>
                </div>
              </div>
            </div>
            <div class="col-md-4"> 
              <nb-actions size="small">
              <nb-action icon="fas fa-plus"></nb-action>
              <nb-action icon="fas fa-trash"></nb-action>
              <nb-action icon="fas fa-external-link-alt"></nb-action>
              </nb-actions>
            </div>
        </div>  
    </nb-card-body>
</nb-card>