<div class="row">
  <div class="col-md-6">
    <nb-card size="large">
      <nb-card-header class="text-center">Participation</nb-card-header>
        <nb-card-body>
          <div class="dropdown_graph">
            <div class="progress-info" *ngFor="let item of progressInfoData">
            <div class="title">{{ item.title }}</div>
            <div class="value">{{ item.rate | ngxNumberWithCommas }}</div>
              <nb-progress-bar [value]="item.rate"></nb-progress-bar>
            </div>
            </div>
        </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card size="large">
      <nb-card-header class="text-center">Pre-Post Objective</nb-card-header>
        <nb-card-body>
          <div class="dropdown_graph">
              <ng-select placeholder="SELECT GAME MODULE" [(ngModel)]="selectedModule" [multiple]="true" [dropdownPosition]="'bottom'" (clear)="onClear()">
                  <ng-option *ngFor="let g of game_module" [value]="g">{{g.title}}</ng-option>
              </ng-select>
         <!-- <button (click)="showGraph()" nbButton>SHOW GRAPH</button>-->
          <div class="progress-info" *ngFor="let item of selectedModule">
          <div *ngIf="selectedModule" class="title">{{ item.title }}</div>
          <div *ngIf="selectedModule" class="value">{{ item.overall | ngxNumberWithCommas }}</div>
          <nb-progress-bar [value]="item.overall" class="green-gradient"></nb-progress-bar>
          </div>
          </div>
        </nb-card-body>
    </nb-card>
  </div>  
</div>
