<nb-card class="container-wrapper">
    <nb-card-header class="card-headline">
        <div class="col-6 col-sm-4 no-pad">
            <div class="title_wrapper">
                  <div class="main_title">
                    <h2>User Activity</h2>
                  </div>
            </div>
        </div>
</nb-card-header>
<nb-card-body>
<ng2-smart-table  [source]="source" [settings]="settings"></ng2-smart-table>
      <br/>
      <div class="row">
        <div class="col-6 col-sm-3">
            <button type="submit" class="btn btn-primary">Send Message</button>
        </div>
        <div class="col-6 col-sm-3">
          <button type="submit" class="btn btn-primary">Export CSV</button>
        </div>
        <div class="col-6 col-sm-3">
          <button type="submit" class="btn btn-primary">Export Users</button>
        </div>
        <div class="col-6 col-sm-3">
          <button type="submit" class="btn btn-primary">Import Users</button>
        </div>

      </div>
      
      <!--<ngb-pagination class="d-flex justify-content-center" [collectionSize]="userTotal" 
      [pageSize]="pageLimit" [(page)]="page" (click)="onPage(page)"></ngb-pagination>-->
      <ngb-pagination class="d-flex justify-content-center" [collectionSize]="userTotal" [pageSize]="pageLimit" [(page)]="page" 
      [maxSize]="10" [rotate]="true" [boundaryLinks]="true" (pageChange)="onPage(page)"></ngb-pagination>
    </nb-card-body>
</nb-card>