nb-card-footer {
    color:#fff;
    text-align:center;
}
.details.text-center {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
nb-card.container-wrapper-sm {
    background: transparent;
    border: none;
    margin: auto;
    max-height: 400px;
    min-height: 0px !important;
}
nb-card-header.text-center.sm {
    min-height: 135px;
}