<div class="row">
    <div class="col-md-4">
        <nb-card class="inner-card">
        <nb-card-header class="text-center sm">Games<div class="details text-center">{{game_title}}</div></nb-card-header>
        <nb-card-footer class="blue-bg">
            <div class="info count">
                {{game_completed}} out of {{game_total}} <br>users completed 
            </div>
        </nb-card-footer>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card class="inner-card">
        <nb-card-header class="text-center sm">Click<div class="details text-center">{{click_title}}</div></nb-card-header>
        <nb-card-footer class="blue-bg">
          <div class="info count">
              {{click_count}} opens<br>in the 30 days
          </div>
        </nb-card-footer>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card class="inner-card">
        <nb-card-header class="text-center sm">Resources<div class="details text-center">{{res_title}}</div></nb-card-header>
        <nb-card-footer class="blue-bg">
          <div class="info count">
              {{res_count}} opens<br>in the 30 days 
          </div>
        </nb-card-footer>
        </nb-card>
    </div>
</div>
