<div class="row">
    <div class="col-md-4">
        <nb-card class="inner-card">
        <nb-card-header class="text-center sm">Games<div class="details text-center">{{mostgame.title}}</div></nb-card-header>
        <nb-card-footer class="blue-bg">
            <div class="info count">
                {{mostgame.completed}} out of {{mostgame.total}} <br>users completed 
            </div>
        </nb-card-footer>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card class="inner-card">
        <nb-card-header class="text-center sm">Click<div class="details text-center">{{mostclick.title}}</div></nb-card-header>
        <nb-card-footer class="blue-bg">
          <div class="info count">
              {{mostclick.count}} opens<br>in the 30 days
          </div>
        </nb-card-footer>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card class="inner-card">
        <nb-card-header class="text-center sm">Resources<div class="details text-center">{{resources.title}}</div></nb-card-header>
        <nb-card-footer class="blue-bg">
          <div class="info count">
              {{resources.count}} opens<br>in the 30 days 
          </div>
        </nb-card-footer>
        </nb-card>
    </div>
</div>
