@import '~@nebular/theme/styles/core/mixins';
@import '../modal-overlays/dialog/dialog.component.scss';


.demo-item {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    width: 44%;
    max-width: 210px;
    margin: 10px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
}

.salmon {
  background: #ff7e5f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

:host {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  nb-card {
    min-width: 15rem;
    display: inline-block;
    text-align: center;

  }
  nb-card.medium-card {
    display: inline-grid;
    margin-left:10px;
    width: 10%;
    height: 300px;
    border-radius: 0.6rem;
    box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
  }
  nb-card-header{
    font-size: 1.4rem;
    padding: 1rem;
    height:55px;
  }
  nb-card-body {
    /*height: 160px;*/
    padding: 5px;
  }
  nb-card-body img {
    position: relative;
    width: 100%;
    height: 143px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  nb-card-footer {
    height: 40px;
  }
  i.fas.fa-info {
    float: right;
  }
  /**Popover**/
  /deep/ nb-card.popover-card {
  margin-bottom: 0;
  width: 300px;
  box-shadow: none;
}

.card-container {
    border: none;
    clear: none;
}
.transparent {
    background-color: transparent;
}

:host {
  button.with-margins {
    @include nb-ltr(margin, 0 0.75rem 2rem 0);
    @include nb-rtl(margin, 0 0 2rem 0.75rem);
  }

  /deep/ .btn-outline-secondary {
    @include nb-ltr(margin, 0 0.5rem 0.5rem 0);
    @include nb-rtl(margin, 0 0 0.5rem 0.5rem);
  }
  /deep/ nb-layout-column {
    height: 80vw;
  }

  button {
    margin: 1rem;
  }
}
