
<nb-card class="card-container transparent">
  <nb-card-body>
    <!--<nb-card *ngFor="let card of games | keyvalue; let i = index" [size]="'medium'" [ngClass]="getColorClass(i)">-->
    <nb-card *ngFor="let card of games | keyvalue; let i = index" [size]="'medium'" (click)="selectCard(card.value);getSelected()">
        <nb-card-header>
            <i class="fas fa-info" (click)="openVerticallyCentered(content)"></i>
            <!--<span><i nbPopover="None" nbPopoverTrigger="hover" nbPopoverPlacement="top" class="fas fa-info"></i></span>-->
        </nb-card-header> 
        <nb-card-body>
         <!--<span><img src="../../../assets/images/How_do_you_feel1.png"></span>-->
        </nb-card-body>
        <nb-card-footer>
          <span>{{card.value}}</span>
        </nb-card-footer>
    </nb-card>
    <ng-template #dialog let-data let-ref="dialogRef">
        <nb-card>
          <nb-card-header>Template Dialog</nb-card-header>
          <nb-card-body>{{ data }}</nb-card-body>
          <nb-card-footer>
            <button nbButton (click)="ref.close()">Close Dialog</button>
          </nb-card-footer>
        </nb-card>
      </ng-template>
  </nb-card-body>
</nb-card>

    <ng-template #contentTemplate let-data>
      <p>Here is the text provided via config: "{{ data.text }}"</p>
    </ng-template>
    <!--Modal Game content here-->
    <ng-template #content let-modal>
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h4 class="modal-title">Question</h4><br>
          <p>How to play</p>
        <p>Body display here&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>
    
  
