<!--<nb-card *ngFor="let card of cards" [size]="card.size" [status]="card.status">
    <nb-card-header>
      <span>Header</span>
    </nb-card-header>
    <nb-card-body *ngIf="card.size !== 'tiny'">
      <span>Body</span>
    </nb-card-body>
    <nb-card-footer *ngIf="card.size !== 'tiny'">
      <span>Footer</span>
    </nb-card-footer>
  </nb-card>-->
<nb-card class="card-container transparent">
  <nb-card-body>
    <nb-card *ngFor="let card of demos" [size]="'medium'">
        <nb-card-header>
          <span>{{card.title}}</span>
        </nb-card-header>
        <nb-card-body>
          <span><img src="{{card.image}}"></span>
        </nb-card-body>
        <nb-card-footer>
          <span (click)="open()">Preview</span>
          
            <!--<button (click)="openWindow(contentTemplate)" nbButton>Open window with backdrop</button>-->
          <span><i nbPopover="None" nbPopoverTrigger="hover" nbPopoverPlacement="top" class="fas fa-info"></i></span>
        </nb-card-footer>
    </nb-card>
    <ng-template #dialog let-data let-ref="dialogRef">
        <nb-card>
          <nb-card-header>Template Dialog</nb-card-header>
          <nb-card-body>{{ data }}</nb-card-body>
          <nb-card-footer>
            <button nbButton (click)="ref.close()">Close Dialog</button>
          </nb-card-footer>
        </nb-card>
      </ng-template>
  </nb-card-body>
</nb-card>
      