@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../charts/d3/d3.component.scss';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }
  nb-card-footer {
    height: 70px;
    padding: 0.70rem !important;
    color: white;
  }
  nb-action {
    height: 1.5rem;
    padding: 1rem;
    background: transparent;
  }
  nb-card-body {
    padding: 0px 1.25px;
  }
  .card-headline{
    padding: 0 0;
    border-bottom-width: 0;
    border-bottom-style: solid;
    border-bottom-color: #cdd5dc;
    border-top-left-radius: 0.17rem;
    border-top-right-radius: 0.17rem;
    color: #181818;
    font-family: Roboto;
    font-size: 1.9rem;
    font-weight: 600;
    width:100%;
  }
  .user-picture {
    height: 3rem;
    width: 3rem;
  }
  .head {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .info {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.9rem;
    font-weight: 500;
  }
  .right {
    width: 50%;
    display: inline-block;
    text-align: right;
  }
  .left {
    width: 50%;
    display: inline-block;
  }
  .count{
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
  }
  .pink{
    background: #ed1164;
  }
  .yellow{
    background: #ffc60b;
  }
  .magenta{
    background: #b400cf;
  }
  .purple{
    background: #4c0eff;
  }
  .green{
    background: #b2d235;
  }
  .blue{
    background: #118fff;
  }
  .darkGreen{
    background: #006a6e;
  }
  .darkPurple{
    background: #602d91;
  }
  h1{
    color: #181818;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.9rem;
    font-weight: 600;
    text-align:center;
  }
  //Gauge
  body {
    background-color: rgba(0,0,0,0.8);
    color: #999;
    font-family: Hevletica, sans-serif;
  }
  
  .info {
    clear: both;
    padding: 10px;
    font-size: 0.9em;
  }
  a.link {
    color: rgb(47, 227, 255);
    text-decoration: none;
  }
  
  .warn {
    font-size: 0.8em;
    background-color: darken(orange, 15%);
    color: #fff;
    padding: 10px;
  }
  
  /* ------ Default Style ---------- */
  .gauge-container {
    width: 150px;
    height: 150px;
    display: block;
    float: left;
    padding: 10px;
    background-color: #222;
    margin: 7px;
    border-radius: 3px;
    position: relative;
  }
  .gauge-container > .label {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    background: rgba(0,0,0,0.5);
    font-family: monospace;
    font-size: 0.8em;
    padding: 5px 10px;
  }
  .gauge-container > .gauge > .dial {
    stroke: #334455;
    stroke-width: 2;
    fill: rgba(0,0,0,0);
  }
  .gauge-container > .gauge > .value {
    stroke: rgb(47, 227, 255);
    stroke-width: 2;
    fill: rgba(0,0,0,0);
  }
  .gauge-container > .gauge > .value-text {
    fill: rgb(47, 227, 255);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.8em;
  }
  
  
  
  
  /* ------- Alternate Style ------- */
  .wrapper {
    height: 100px;
    float: left;
    margin: 7px;
    overflow: hidden;
  }
  .wrapper > .gauge-container {
    margin: 0;
  }
  
  /* ------- Alternate Style ------- */
  .gauge-container.three {
  }
  .gauge-container.three > .gauge > .dial {
    stroke: #334455;
    stroke-width: 2;
  }
  .gauge-container.three > .gauge > .value {
    stroke-width: 5;
    fill: #fff;
    stroke: #ffa36b;
  }
  .gauge-container.three > .gauge > .value-text {
    fill:  #ffa36b;
  } 
  
  
  
  /* ----- Alternate Style ----- */
  .gauge-container.four > .gauge > .dial {
    stroke: #334455;
    stroke-width: 10;
  }
  .gauge-container.four > .gauge > .value {
    stroke: #F32450;
    stroke-dasharray: none;
    stroke-width: 10;
  }
  .gauge-container.four > .gauge > .value-text {
    fill: #F32450;
    transform: translate3d(24%, 23%, 0);
    display: inline-block;
  }
  .gauge-container.four > .value-text {
    color: #F32450;
    font-weight: 100;
    position: absolute;
    bottom: 18%;
    right: 10%;
    display: inline-block;
  } 

  
  .gauge-container.seven > .gauge > .dial {
    stroke: transparent;
    stroke-width: 5;
    transform: scale(0.9,0.9) translate3d(5.5px, 5.5px, 0);
    fill: rgba(148, 112, 57, 0.42);
  }
  .gauge-container.seven > .gauge > .value {
    stroke: #F8774B;
    stroke-dasharray: none;
    stroke-width: 5;
  }
  
  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }
}
