@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../charts/d3/d3.component.scss';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }
  nb-card-footer {
    height: 70px;
    padding: 0.70rem !important;
    color: white;
  }
  nb-action {
    height: 1.5rem;
    padding: 1rem;
    background: transparent;
  }
  .card-headline{
    padding: 1.25rem;
    border-bottom-width: 0;
    border-bottom-style: solid;
    border-bottom-color: #cdd5dc;
    border-top-left-radius: 0.17rem;
    border-top-right-radius: 0.17rem;
    color: #181818;
    font-family: Exo;
    font-size: 1.9rem;
    font-weight: 600;
    width:100%;
  }
  .user-picture {
    height: 3rem;
    width: 3rem;
  }
  .head {
    color: white;
    font-family: Exo;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .info {
    color: white;
    font-family: Exo;
    font-size: 1.9rem;
    font-weight: 500;
  }
  .right {
    width: 50%;
    display: inline-block;
    text-align: right;
  }
  .left {
    width: 50%;
    display: inline-block;
  }
  .count{
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
  }
  .pink{
    background: #ed1164;
  }
  .yellow{
    background: #ffc60b;
  }
  .magenta{
    background: #b400cf;
  }
  .purple{
    background: #4c0eff;
  }
  .green{
    background: #b2d235;
  }
  .blue{
    background: #118fff;
  }
  .darkGreen{
    background: #006a6e;
  }
  .darkPurple{
    background: #602d91;
  }
  h1{
    color: #181818;
    font-family: Exo;
    font-size: 1.9rem;
    font-weight: 600;
    text-align:center;
  }
  
  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }
}
