<nb-card>
  <nb-card-header>Overall Performance: Basic Track</nb-card-header>
  <nb-card-body>
      <ngx-temperature></ngx-temperature>
      <ngx-contacts></ngx-contacts>
      
      <div class="row">
        <div class="card-headline">Most Popular</div>
          <div class="col-md-4">
              <nb-card size="large">
                  <nb-card-header class="text-center">Games<div class="details text-center">QUIZ ME</div></nb-card-header>
                    <nb-card-footer class="blue">
                      <div class="content">
                        <div class="info">
                            5 out of 443 users completed 
                        </div>
                      </div>     
                    </nb-card-footer>
              </nb-card>
          </div>
          <div class="col-md-4">
              <nb-card size="large">
                  <nb-card-header class="text-center">Click<div class="details text-center">PINK Text Link</div></nb-card-header>
                    <nb-card-footer class="dark-green">
                      <div class="content">
                        <div class="info">
                            6 opens in the 30 days
                        </div>
                      </div>     
                    </nb-card-footer>
              </nb-card>
          </div>
          <div class="col-md-4">
              <nb-card size="large">
                  <nb-card-header class="text-center">Resource<div class="details text-center">None</div></nb-card-header>
                    <nb-card-footer class="dark-green">
                      <div class="content">
                        <div class="info">
                            0 opens in the 30 days
                        </div>
                      </div>     
                    </nb-card-footer>
              </nb-card>
          </div>
      </div>
  </nb-card-body> 
</nb-card>
