<nb-card class="container-wrapper">
  <nb-card-header class="no-pad">
      <div class="card-headline">
            <div class="title_wrapper">
                <div class="main_title">
                    <h2 class="text-center">Impact Summary</h2>
                </div>
            </div>
      </div>
    </nb-card-header>
  <nb-card-body>
      <ngx-temperature></ngx-temperature>
      <ngx-contacts></ngx-contacts>
  </nb-card-body> 
</nb-card>
<nb-card class="container-wrapper">
        <nb-card-header class="no-pad">
            <div class="card-headline">
                  <div class="title_wrapper">
                      <div class="main_title">
                          <h2 class="text-center">Report</h2>
                      </div>
                  </div>
            </div>
          </nb-card-header>
        <nb-card-body>
            <ngx-report></ngx-report>
        </nb-card-body> 
      </nb-card>
<nb-card class="container-wrapper-sm">
    <nb-card-header class="no-pad">
        <div class="card-headline">
            <div class="title_wrapper">
                <div class="main_title">
                    <h2 class="text-center">Most Popular</h2>
                </div>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
    <ngx-popular></ngx-popular>
    </nb-card-body> 
</nb-card>
