<nb-card>
  <nb-card-header>Overall Performance: Basic Track</nb-card-header>
  <nb-card-body>
      <ngx-temperature></ngx-temperature>
      <div class="row">
          <div class="col-md-4">
            <ngx-contacts></ngx-contacts>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
      </div>
      <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
      </div>
  </nb-card-body> 
</nb-card>
