<div class="row">
    <div class="col-md-12">
      <nb-card class="container-wrapper">
        <nb-card-header class="card-headline">
            <div class="title_wrapper">
                <div class="main_title">
                    <h2>Manage Site</h2>
                </div>
            </div>
          
        </nb-card-header>
        <nb-card-body class="no-pad">
          <nb-card class="container-card">
          <form class="form-horizontal">
            <div class="form-group row">
              <label for="brandLogo" class="col-sm-2 form-control-label">Logo</label>
              <div class="col-sm-10 logo">
                <img src="assets/images/el_ar_logo.png">
                <!--<input type="text" class="form-control" id="brandLogo" placeholder="Logo">-->
              </div>
            </div>
            <div class="form-group row">
              <label for="brandTitle" class="col-sm-2 form-control-label">Title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="brandTitle" value="Elizabeth Arden" placeholder="Elizabeth Arden">
              </div>
            </div>
            <div class="form-group row">
                <label for="brandTheme" class="col-sm-2 form-control-label">Theme</label>
                <div class="col-sm-10">
                  <input type="readonly" class="form-control" id="brandTheme" placeholder="White">                 
                </div>
              </div>
            <div class="form-group row">
              <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Change Theme</button>&nbsp;&nbsp;<button type="submit" class="btn btn-warning">SAVE SETTINGS</button>
              </div>
            </div>
          </form>
        </nb-card>
        </nb-card-body>
      </nb-card>
    </div>