<nb-card class="container-wrapper">
  <nb-card-header class="card-headline">
      <div class="title_wrapper">
          <div class="main_title">
            <h2>Campaign list</h2>
          </div>
    </div>   
    
  </nb-card-header>
  <nb-card-body>
  <div class="flush-right" class="input-group">
      <button class="btn btn-danger input-group-text float-left" (click)="openWindow(contentTemplate)" nbButton>Add New Campaign</button>
  </div>
  <div class="col-md-6 draggable-container example-custom-placeholder no-pad">
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let movie of movies" cdkDrag>{{movie}}
          <nb-actions size="small">
          <nb-action icon="fas fa-trash"></nb-action>
          <nb-action icon="fa fa-pencil-alt"></nb-action>
          </nb-actions>
      </div>
    </div>
  </div>
</nb-card-body>
</nb-card>