@import '../admin-menu/admin-menu.component.scss';

.col-sm-4 {
    display: inline-block;
}
.float-right {
    float:right;
}
nb-action {
    padding:0 15px !important;

}
.input-group {
    margin-bottom: 1rem;
}