<nb-card class="container-wrapper">
    <nb-card-header class="card-headline">
        <div class="col-6 col-sm-4 no-pad">
            <div class="title_wrapper">
                  <div class="main_title">
                    <h2>Users</h2>
                  </div>
            </div>
        </div>
        <div class="col-6 col-sm-4">
            <input nbInput placeholder="Select Date" [nbDatepicker]="formpicker" class="date-picker">
            <nb-rangepicker #formpicker></nb-rangepicker>
        </div>
        <div class="col-6 col-sm-4">
            <nb-select placeholder="All Group" [(selected)]="commonSelectedItem" class="top-button">
              <nb-option value="1">Group2</nb-option>
              <nb-option value="2">Boscov's</nb-option>
              <nb-option value="3">L&T Corporate</nb-option>
              <nb-option value="4">Global Corporate</nb-option>
            </nb-select>
          </div>
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table  [source]="source" [settings]="settings" (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="onUserRowSelect($event);openWindow(viewUserTemplate)">
      </ng2-smart-table>
      <br/>
      <div class="flush-left"><button type="submit" class="btn btn-primary">Send Message</button>&nbsp;&nbsp;<button type="submit" class="btn btn-primary">Export CSV</button>&nbsp;&nbsp;
      <button type="submit" class="btn btn-primary">Export Users</button>&nbsp;&nbsp;<button type="submit" class="btn btn-primary">Import Users</button></div>
      <br/>
      </nb-card-body>
      <nb-card-footer>
      <ngb-pagination class="d-flex justify-content-center" [collectionSize]="userTotal" [pageSize]="pageLimit" [(page)]="page" (click)="onPage(page)"></ngb-pagination>
      </nb-card-footer>
  </nb-card>
<!--Pop up window-->
  <!-- View user -->
<ng-template #viewUserTemplate let-userInfo="getUser(userSelectedId)" class="col-md-6">
    <div class="header-template no-pad">
    </div>
    <div class="body-template">
      <img class="img-detail" src="../../../assets/images/kate.png"/>
      <div class="name-detail"></div>
      <!--<input disabled type="text" nbInput fullWidth placeholder="Name:"  class="child"><br/>-->
      <input disabled type="text" nbInput fullWidth placeholder="Phone:" value="" class="child"><br/>
      <input disabled type="text" nbInput fullWidth placeholder="Email:" value="" class="child"><br/>
      <input disabled type="text" nbInput fullWidth placeholder="ID:" value="" class="child"><br/>
      <input disabled type="text" nbInput fullWidth placeholder="User Type:" value="" class="child"><br/>
      <input disabled type="text" nbInput fullWidth placeholder="Status:" value="" class="child"><br/>
      <input disabled type="text" nbInput fullWidth placeholder="Delivery Method:" value="" class="child"><br/>  
  </div>
</ng-template>

  