<nb-flip-card [showToggleButton]="false" [flipped]="flipped">
    <nb-card-front>
<nb-card class="container-wrapper">
    <nb-card-header class="card-headline">
        <div class="col-6 col-sm-4 no-pad">
            <div class="title_wrapper">
                  <div class="main_title">
                    <h2>Users</h2>
                  </div>
            </div>
        </div>
        <div class="col-6 col-sm-4">
            <input nbInput placeholder="Select Date" [nbDatepicker]="formpicker" class="date-picker">
            <nb-rangepicker #formpicker></nb-rangepicker>
        </div>
        <div class="col-6 col-sm-4">
            <nb-select placeholder="All Group" [(selected)]="commonSelectedItem" class="top-button">
              <nb-option value="1">Group2</nb-option>
              <nb-option value="2">Boscov's</nb-option>
              <nb-option value="3">L&T Corporate</nb-option>
              <nb-option value="4">Global Corporate</nb-option>
            </nb-select>
          </div>
    </nb-card-header>
              <ng2-smart-table  [source]="source" [settings]="settings" (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="onUserRowSelect($event)" (click)="toggleView()" >
                </ng2-smart-table>
                <br/>
                <div class="flush-left"><button type="submit" class="btn btn-primary">Send Message</button>&nbsp;&nbsp;<button type="submit" class="btn btn-primary">Export CSV</button>&nbsp;&nbsp;
                <button type="submit" class="btn btn-primary">Export Users</button>&nbsp;&nbsp;<button type="submit" class="btn btn-primary">Import Users</button></div>
                <br/>
                <ngb-pagination class="d-flex justify-content-center" [collectionSize]="userTotal" [pageSize]="pageLimit" [(page)]="page" (click)="onPage(page)"></ngb-pagination>
              
            <i class="nb-arrow-right" (click)="toggleView()"></i>
          </nb-card>
        </nb-card-front>
        <nb-card-back>
              <nb-card class="container-wrapper">
                  <nb-card-header class="card-headline">
                      <div class="title_wrapper">
                          <div class="main_title">
                            <h2>User Detail</h2>
                          </div>
                          
                    </div>
                  </nb-card-header>  
                  <nb-card-body>
                      <!--Add new user with button--> 
                      
                    <nb-card class="container-card" style="background: #F9FAFE !important;">
                      <i class="nb-arrow-right flush-right" (click)="toggleView()"></i>
                        <nb-tabset fullWidth>
                            <nb-tab tabIcon="person-outline" tabTitle="Detail">
                              <div class="row">
                                  <div class="left-container col-md-4">
                                      <div class="text-center title">
                                        <nb-user [picture]="user?.picture" [name]="userInfo.name" showName=false></nb-user>
                                        <strong>{{userInfo.name}}</strong></div>
                                      <div class="box-left sub-title">
                                        Last Login<br/>
                                        Total Points<br/>
                                        Actions
                                      </div>
                                      <div class="box-right info">
                                        <p *ngIf="userInfo.activity == '0000-00-00 00:00:00'">None</p>
                                      </div>
                        
                                  </div>
                                  <div class="right-container col-md-8">
                                    <div class="col-2 sub-title">
                                    </div>
                                    <div class="col-10 info">
                                      <nb-progress-bar [value]="40" status="primary" [displayValue]="true"></nb-progress-bar>
                                      <nb-progress-bar [value]="60" status="primary" [displayValue]="true"></nb-progress-bar>
                                      <nb-progress-bar [value]="20" status="primary" [displayValue]="true"></nb-progress-bar>
                                    </div>
                                  </div>
                                </div>
                            </nb-tab>
                            <nb-tab tabIcon="bell-outline" tabTitle="Page Clicks">
                              <p>List of <strong>orders</strong>.</p>
                            </nb-tab>
                            <nb-tab tabIcon="email-outline" tabTitle="Resource Clicks">
                              <p>List of <strong>transactions</strong>.</p>
                            </nb-tab>
                          </nb-tabset>
                      
                    </nb-card>
                    </nb-card-body>
              </nb-card>
          
        </nb-card-back>
      </nb-flip-card>
   
    
          
         
    
  
<!--Pop up window-->
  <!-- View user -->
<ng-template #viewUserTemplate let-userInfo="getUser(user-Info)" class="col-md-6">
    <div class="header-template no-pad">
    </div>
    <div class="body-template">
      <img class="img-detail" src="../../../assets/images/kate.png"/>
      <div class="name-detail"></div>
      <!--<input disabled type="text" nbInput fullWidth placeholder="Name:"  class="child"><br/>-->
      <input disabled type="text" nbInput fullWidth placeholder="Phone:" value="" class="child"><br/>
      <input disabled type="text" nbInput fullWidth placeholder="Email:" value="" class="child"><br/>
      <input disabled type="text" nbInput fullWidth placeholder="ID:" value="" class="child"><br/>
      <input disabled type="text" nbInput fullWidth placeholder="User Type:" value="" class="child"><br/>
      <input disabled type="text" nbInput fullWidth placeholder="Status:" value="" class="child"><br/>
      <input disabled type="text" nbInput fullWidth placeholder="Delivery Method:" value="" class="child"><br/>  
  </div>
</ng-template>

  