@import '../admin-users/admin-users.component.scss';


@include nb-install-component() {
    nb-card {
      transform: translate3d(0, 0, 0);
    }
    .col-sm-4 {
      display: inline-block;
      float: left;
    }
    .nb-theme-corporate ng2-smart-table table tr th, .nb-theme-corporate ng2-smart-table table tr td {
      border: none !important;
  }
  nb-card-body{
    min-height:70vh;
  }

}
    
  