<nb-card>
    <nb-card-header>
        <div class="col-6 col-sm-4">Users</div>
        <div class="col-6 col-sm-4">
            <input nbInput placeholder="Select Date" [nbDatepicker]="formpicker" class="date-picker">
            <nb-rangepicker #formpicker></nb-rangepicker>
        </div>
        <div class="col-6 col-sm-4">
            <nb-select placeholder="All Group" [(selected)]="commonSelectedItem" class="top-button">
              <nb-option value="1">Group2</nb-option>
              <nb-option value="2">Boscov's</nb-option>
              <nb-option value="3">L&T Corporate</nb-option>
              <nb-option value="4">Global Corporate</nb-option>
            </nb-select>
          </div>
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table  [source]="source" [settings]="settings" (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="onUserRowSelect($event);openWindow(viewUserTemplate)">
      </ng2-smart-table>
      <br/>
      <ngb-pagination class="d-flex justify-content-center" [collectionSize]="70" [(page)]="page" ></ngb-pagination>
    </nb-card-body>
  </nb-card>
<!--Pop up window-->
  <!-- View user -->
<ng-template #viewUserTemplate let-u='u' class="col-md-6">
    <div class="header-template">
    </div>
    <div class="body-template">
      <input disabled type="text" nbInput fullWidth placeholder="Name:"  class="child"><br/>
      <input disabled type="text" nbInput fullWidth placeholder="Phone:" class="child"><br/>
      <input disabled type="text" nbInput fullWidth placeholder="Email:" class="child"><br/>
      <input disabled type="text" nbInput fullWidth placeholder="ID:" value="{{user.id}}"class="child"><br/>
      <input disabled type="text" nbInput fullWidth placeholder="User Type:" class="child"><br/>
      <input disabled type="text" nbInput fullWidth placeholder="Status:" class="child"><br/>
      <input disabled type="text" nbInput fullWidth placeholder="Delivery Method:" class="child"><br/>
  </div>
</ng-template>

  