@import '../admin-users/admin-users.component.scss';
    nb-card {
      transform: translate3d(0, 0, 0);
    }
    .col-sm-4 {
      display: inline-block;
      float: left;
    }
    .header-template {
      /*background-color: #849EFE;
      height:80px;*/
    }
    .body-template {
      
    }
    .nb-theme-corporate ng2-smart-table table tr th, .nb-theme-corporate ng2-smart-table table tr td {
      position: relative;
      padding: 0.875rem 1.25rem;
      border: none !important; 
      vertical-align: middle;
  }
    
  