@import '../admin-users/admin-users.component.scss';


@include nb-install-component() {
    nb-card {
      transform: translate3d(0, 0, 0);
      background: transparent !important;
      border: none !important;
    }

    .user-detail {
      table-layout: fixed;
      width: 100%;
      white-space: nowrap;
    }
    .user-detail td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .click-info{
      width:100%;
    }
    table.click-info td {
      padding: 10px;
      margin: 10px;
    }
    .row-title{
      width: 30%;
    }
    .row-detail{
      width: 70%;
    }
    
    .col-sm-4 {
      display: inline-block;
      float: left;
    }
    .nb-theme-corporate ng2-smart-table table tr th, .nb-theme-corporate ng2-smart-table table tr td {
      border: none !important;
    }
    /*nb-card-body{
      min-height:70vh;
    }*/
    .left {
      text-align: left;
      padding: 5px;
    }
    .nb-theme-corporate nb-tabset .tabset{
      border-bottom:none;
    }
    nb-card.container-wrapper {
      background: transparent;
      border: none;
      max-width: 1200px;
      margin: auto;
      min-height: 70vh;
    }
    .left-container {
        min-height:300px;
        border-right: solid 2px #869efe;
        margin-top:2rem;
    }
    .right-container {
        min-height:300px;
    }
    :host nb-tab {
        padding: 1.25rem;
    }
    a {
        font-size: 1.25rem !important;
    }
    nb-card.container-card {
        padding: 1rem;
    }
    .nb-arrow-right::before {
      content: '\e959';
      float: right;
      font-size: 1.5rem;
    }
    nb-tab.content-active {
      overflow:hidden;
    }
    .tabset {
      font-size:1.25rem !important;
    }
    .box-left {
      width: 35%;
      max-width:350px;
      display: inline-block;
      float: left;
      text-align: left;
      position: relative;
      padding: 10px;
      margin: 10px;
    }
    .box-right {
      width: 40%;
      display: inline-block;
      float: right;
      text-align: right;
      position: relative;
      padding: 10px;
      margin: 10px;
    }
    .row {
      margin-top: 10px;
    }
    ul.tabset {
      border-bottom: 0px !important;
    }
    .user-info td {
      font-family: Roboto;
      font-size: 15px;
      font-weight: normal;
      line-height: 1.2;
      padding-bottom: 15px;
    }
    .user-info td:nth-child(2n+1) {
      font-family: Roboto;
      font-size: 15px;
      font-weight: bold;
      line-height: 1.2;
      padding-bottom: 15px;
    }
    .actions-group {
      display: block;
      text-align: center;
      margin: auto;
      float: right;
    }
    .title {
      font-family: Roboto;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 25px;
    }
    .sub-title {
      font-family: Roboto;
      font-size: 16px;
      font-weight: bold;
      line-height:2;
    }
    .user-detail {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 350;
      line-height:2;
      color: rgb(75,75,75);
      clear: none;
    }
   nb-progress-bar {
      margin-bottom: 2rem;
      margin-top:1rem;
    }
    nb-user{
      display: inline-block;
      margin-bottom: 10px;
    }
    .progress-value {
      height: 100%;
      text-align: right;
      overflow: hidden;
      padding: 2px 10px;
    }
}

.user-picture.background{
  display: block !important;
  margin: auto !important;
  width: 50px !important;
  height: 50px !important;
}
ul.tabset {
  border-bottom: 0px !important;
}
    
  