<nb-card class="container-wrapper">
    <nb-card-header class="card-headline">
            <div class="title_wrapper">
                    <div class="main_title">
                      <h2>Manage Pages</h2>
                    </div>
              </div> 
        
    </nb-card-header>
    <nb-card-body>
        <nb-flip-card>
            <nb-card-front>
              <nb-card status="success">
                <nb-card-header>Manage Site</nb-card-header>
                <nb-card-body>
                  Put icon here
                </nb-card-body>
              </nb-card>
            </nb-card-front>
            <nb-card-back>
              <nb-card status="danger">
                <nb-card-header>Manage Site</nb-card-header>
                <nb-card-body>
                    Put icon here
                </nb-card-body>
              </nb-card>
            </nb-card-back>
          </nb-flip-card>
    </nb-card-body>
</nb-card>
